{% extends 'base.html' %}
{% load static %}


 {% block title %}
  Главная
  {% endblock %}

{% block content %}


{{% if request.user.is_authenticated %}
  <ul class="nav nav-pills sticky-top bg-white nav-fill">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href= "{% url 'index' %}">
      <span style="font-weight: bold;">Главная</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="{% url 'top-sellers' %}" ><span style="font-weight: bold;">Топ продавцов</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'adv-post' %}">
      <span style="font-weight: bold;">Разместить объявление</span>
    </a>
  </li>


    <li class="nav-item">
    <a class="nav-link " href="{% url 'profile' %}">
      <span style="font-weight: bold;">Профиль</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">
      <span style="font-weight: bold;">Выйти</span>
    </a>
  </li>

</ul>
{% else %}
<ul class="nav nav-pills sticky-top bg-white nav-fill">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href= "{% url 'index' %}">
      <span style="font-weight: bold;">Главная</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="{% url 'top-sellers' %}" ><span style="font-weight: bold;">Топ продавцов</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'adv-post' %}">
      <span style="font-weight: bold;">Разместить объявление</span>
    </a>
  </li>

   <li class="nav-item">
    <a class="nav-link active" href="{% url 'register' %}">
      <span style="font-weight: bold;">Регистрация</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link " href="{% url 'login' %}">
      <span style="font-weight: bold;">Войти</span>
    </a>
  </li>
</ul>
  {% endif %}


<div>
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Страница</span>
      </div>
    </div>
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">регистрации</span>
      </div>
    </div>
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">пользователя</span>
      </div>
    </div>
</div>

<form method="post">
    {% csrf_token %}

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}

    <button type="submit">Регистрация</button>
</form>

</div>
{% endblock %}